core/conf/SGSconfig.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary indentification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/SGSconfig.dtd

-->

<!-- A parameter for a SGS (passed on the command-line to the executable) 
     name: The name of the parameter (must not contain spaces)
     type: The type of the parameter
     required: "yes" if the parameter is compulsory, "no" if the parameter can be blank
     default: (Optional) default value for the parameter. Must be within the
        minValue : maxValue range, or one of the given possible values
     
     If minValue or maxValue are specified, the "values" field cannot be filled,
        or vice-versa.
     minValue: (Optional) minimum value for the parameter (not valid for boolean or string)
     maxValue: (Optional) maximum value for the parameter (not valid for boolean or string)
     values: (Optional) comma-separated list of values that the parameter can take.
     
     switch: (Optional) The command-line switch used to prefix the parameter value, e.g. "-p"
     description: (Optional) Short text description of the parameter
-->
<!ELEMENT param EMPTY>
<!ATTLIST param
    name CDATA #REQUIRED
    type (boolean | int | float | string) #REQUIRED
    required (yes | no) #REQUIRED
    default CDATA #IMPLIED
    minValue CDATA #IMPLIED
    maxValue CDATA #IMPLIED
    values CDATA #IMPLIED
    switch CDATA #IMPLIED
    description CDATA #IMPLIED
  >
  
<!-- A free-text documentation file describing the SGS.  Any number of these
     can be given for an SGS. The name gives the name of the file as it will
     appear in the doc/ directory of the SGS. This name must be a valid filename
     and must not be "description" as this is reserved for the short description
     of the service. If the name is not given, it defaults to the last part
     of the location (i.e. ignoring any folder information).
     The location is the location of the file on the host filesystem.
     The location can also be a directory, in which case all files under this
     directory will be made visible in the same hierarchy.
     Documentation will be read-only. -->
<!ELEMENT doc EMPTY>
<!ATTLIST doc
    name CDATA #IMPLIED
    location CDATA #REQUIRED
  >
  
<!-- Element describing service data -->
<!ELEMENT serviceData (serviceDataElement*)>
<!ELEMENT serviceDataElement EMPTY>
<!ATTLIST serviceDataElement
    name CDATA #REQUIRED
    minUpdateInterval CDATA "2.0"
  >

<!-- Element that defines a Styx Grid Service -->
<!-- The gridservice takes zero or more parameters, zero or more documentation
     files and zero or more service data elements. The description of the service
     will automatically appear as a file called "description" in the doc/
     directory of the SGS. -->
<!ELEMENT gridservice (param*, doc*, serviceData?)>
<!ATTLIST gridservice
    name CDATA #REQUIRED
    command CDATA #REQUIRED
    description CDATA #REQUIRED
  >
  
<!--- The gridservices tag can contain zero or more gridservices -->
<!ELEMENT gridservices (gridservice)*>
<!ATTLIST gridservices
    root CDATA #REQUIRED
  >

<!--- Items concerning configuration of the server -->
<!ELEMENT port (#PCDATA)>
<!ELEMENT keystore EMPTY>
<!ATTLIST keystore
    location CDATA #REQUIRED
  >
<!ELEMENT ssl (keystore)>
<!ATTLIST ssl
    activated (yes | no) #REQUIRED
  >
<!ELEMENT serverConfig (port, ssl)>

<!ELEMENT root (serverConfig, gridservices)>
