core/conf/SGSconfig.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary indentification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/SGSconfig.dtd

--><!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE root SYSTEM "SGSconfig.dtd">

    <root>
    ...
    </root>
-->

<!-- Element that defines a parameter to a Styx Grid Service -->
<!ELEMENT param EMPTY>
<!-- Have to provide a name and type for the parameter, but default value and 
     description are optional -->
<!ATTLIST param
    name CDATA #REQUIRED
    type (boolean | int | float | string) #REQUIRED
    default CDATA #IMPLIED
    description CDATA #IMPLIED
  >
  
<!--- Element that defines a Styx Grid Service -->
<!-- The gridservice takes zero or more parameters -->
<!ELEMENT gridservice (param)*>
<!ATTLIST gridservice
    name CDATA #REQUIRED
    command CDATA #REQUIRED
  >

<!--- The gridservices tag can contain zero or more gridservices -->
<!ELEMENT gridservices (gridservice)*>
<!ATTLIST gridservices
    root CDATA #REQUIRED
  >

<!--- Items concerning configuration of the server -->
<!ELEMENT port (#PCDATA)>
<!ELEMENT keystore EMPTY>
<!ATTLIST keystore
    location CDATA #REQUIRED
  >
<!ELEMENT ssl (keystore)>
<!ATTLIST ssl
    activated (yes | no) #REQUIRED
  >
<!ELEMENT serverConfig (port, ssl)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT root (serverConfig, gridservices)>
