core/conf/SGSconfig.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary indentification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/SGSconfig.dtd

--><!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE root SYSTEM "SGSconfig.dtd">

    <root>
    ...
    </root>
-->

<!-- A parameter for a SGS (passed on the command-line to the executable) 
     name: The name of the parameter (must not contain spaces)
     type: The type of the parameter
     required: "yes" if the parameter is compulsory, "no" otherwise
     default: (Optional) default value for the parameter. Must be within the
        minValue : maxValue range, or one of the given possible values
     
     If minValue or maxValue are specified, the values field cannot be filled,
        or vice-versa.
     minValue: (Optional) minimum value for the parameter (not valid for boolean or string)
     maxValue: (Optional) maximum value for the parameter (not valid for boolean or string)
     values: (Optional) comma-separated list of values that the parameter can take.
     
     switch: (Optional) The command-line switch used to prefix the parameter value, e.g. "-p"
     description: (Optional) Short text description of the parameter
-->
<!ELEMENT param EMPTY>
<!ATTLIST param
    name CDATA #REQUIRED
    type (boolean | int | float | string) #REQUIRED
    required (yes | no) #REQUIRED
    default CDATA #IMPLIED
    minValue CDATA #IMPLIED
    maxValue CDATA #IMPLIED
    values CDATA #IMPLIED
    switch CDATA #IMPLIED
    description CDATA #IMPLIED
  >
  
<!--- Element that defines a Styx Grid Service -->
<!-- The gridservice takes zero or more parameters -->
<!ELEMENT gridservice (param)*>
<!ATTLIST gridservice
    name CDATA #REQUIRED
    command CDATA #REQUIRED
  >

<!--- The gridservices tag can contain zero or more gridservices -->
<!ELEMENT gridservices (gridservice)*>
<!ATTLIST gridservices
    root CDATA #REQUIRED
  >

<!--- Items concerning configuration of the server -->
<!ELEMENT port (#PCDATA)>
<!ELEMENT keystore EMPTY>
<!ATTLIST keystore
    location CDATA #REQUIRED
  >
<!ELEMENT ssl (keystore)>
<!ATTLIST ssl
    activated (yes | no) #REQUIRED
  >
<!ELEMENT serverConfig (port, ssl)>

<!ELEMENT root (serverConfig, gridservices)>
